# ts
dist/**/*.js
node_modules/
.env

# scala
.bsp/
target/
.metals/
metals.sbt

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info

# vscode
.vscode